@import '../../scss/main.scss';

.profile{

    color: $primary-color;
    
    img {
        width: 50%; 
        height: auto;
        border-radius: 50%;
    }
    h4{
        font-size: 0.9rem;
    }
    h5{
        font-size: 0.7rem;
        font-weight: 300;
    }

    p{
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 17px;
        width: 70%;
    }

    h3{
        font-size: 0.7rem; 
        font-weight: 500;
    }

    ul{
        list-style-type: none;
        padding: 0px;
        font-weight: 200;

        li{
            font-size: 0.8rem;
            
        }
    }

    a{
        font-size: 0.8rem;
        text-decoration: none;
        color: rgb(62, 67, 78);
    }
}