@import '../../scss/main.scss';

.todo{

    padding-bottom: 7rem;

    .img-info{
        width: 100%;
        height: 32rem;
    

        .img-text{
            width: 100%;
        }

        img{
            width: 100%;
            box-shadow: 0px 0px 7px 1px rgba(165, 165, 165, 0.33);
        }
        .project-detail{
            width: 90%;
            height: 26rem;

                h5{
                    font-size: 0.8rem;
                    font-weight: 500; 
                }

                h4{
                    font-size: 0.7rem; 
                    font-weight: 500;
                }

                .info-text{
                    font-size: 0.8rem;
                    font-weight: 300;
                    line-height: 17px;
                    width: 30rem;
                }
                .skills{
                    list-style-type: none;
                    font-size: 0.8rem;
                    font-weight: 300;
                    padding: 0px;
                }
        }
    }
    p{  
        font-size: 0.7rem;
        font-weight: 300;
    }
    button{
        border: none;
        outline: none;
        text-decoration: underline;
        background-color: transparent;
    }
    .info-demo{
        list-style-type: none;
        display: inline;
    
        li{
            font-size: 0.7rem;
            font-weight: 700; 
            display: inline;

            button{
                font-size: 0.7rem;
                font-weight: 700; 
            }
        }
    }

    a{
        text-decoration: underline;
        color: rgb(44, 47, 54);
    }

}

